user default off
user farm reset on >{{ farm_redis_worker_password }} ~android-farm:* +ping +get +set +del +expire +hget +hset +hdel +hgetall +hlen +llen +lpush +rpop +lrem +zadd +zrem +zscore +zcard +zrangebyscore +eval +multi +exec +discard
