{% if farm_manage_redis | bool %}
ANDROID_FARM_REDIS_URL="redis://farm:{{ farm_redis_worker_password | urlencode }}@127.0.0.1:6379/0"
{% else %}
ANDROID_FARM_REDIS_URL="{{ farm_redis_url }}"
{% endif %}
ANDROID_FARM_RESULT_TTL_SECONDS={{ farm_worker_result_ttl_seconds }}
